<li *ngIf="auth.user$ | async as user; else shwProfile" class="nav-item dropdown dropleft m-1 px-1 pointer">
    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="{{ user.photoURL }}" width="25" height="25" class="rounded-circle mr-2" alt="">{{ user.displayName }}
    </a>
    <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/profile" routerLinkActive="active"><i class="fas fa-id-badge mr-2"></i>Ver
            Perfil</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item">
            <button class="btn btn-danger" (click)="auth.signOut()"><i class="far fa-times-circle mr-2"></i>Cerrar
                Sesion</button>
        </a>
    </div>
</li>

<ng-template #shwProfile>
    <button type="button" class="btn btn-light nav-item" (click)="auth.googleSignin()"><i class="fab fa-google mr-2"></i>Iniciar
        con
        Google</button>
</ng-template>