<ul class="list-group list-group-flush">
    <li *ngFor="let comentss of lista" class="list-group-item text-center">
        <i *ngFor="let in of counter(comentss.rating); let i = index" class="my-star fas fa-star text-warning mx-1" ></i>
        <i *ngFor="let in of counter(5 - comentss.rating); let i = index" class="my-star far fa-star text-warning mx-1" ></i>
        <blockquote class="blockquote text-center">
            <p class="mb-0" *ngIf="comentss.comment">{{comentss.comment}}</p>
            <footer class="blockquote-footer">{{comentss.displayName}} - <cite
                    title="Source Title">{{comentss.date}}</cite>
            </footer>
        </blockquote>
    </li>
</ul>
