<div class="container">
    <div class="row">
        <div class="col-lg-4 my-2">
            <h2 class="text-center border-bottom border-dark">Perfil</h2>
            <div *ngIf="auth.user$ | async as user" class="card shadow">
                <img src="{{user.photoURL}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="border-bottom border-primary p-0">
                        <span>Usuario</span>
                        <p class="lead mb-0 text-truncate">
                            <i class="fas fa-user mx-2"></i>{{user.displayName }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 my-2">
            <h2 class="text-center border-bottom border-dark">Mapa</h2>
            <app-map></app-map>            
        </div>
    </div>
</div>