$moradoApp: #090979;
@font-face{
    font-family: "Poppins";
    src: url(assets/fonts/Poppins/Poppins-Regular.ttf);
}
*{
    font-family: Poppins;
}
.pointer{
    cursor: pointer;
}
.border-bottom{
    border-bottom-color: $moradoApp !important;
}
